*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/background.jpg);
    background-blend-mode: multiply;
    background-color: darkslategray;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid darkorange; */
    background-color: brown;
    width: 90vw;
    margin: 0 auto;
    height: 70px;
    opacity: 0.8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    color: #fff;
    font-size: 32px;
}

.logo:hover {
    font-size: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 90vw;
    /* background-color: darkcyan; */
    margin: 0 auto;
}


.nav {
    opacity: 0.8;    
    transition: 0.3s;
    margin-top: 10vh;
    width: 15vw;
    height: 40vh;
    /* border: 2px solid indigo; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rebeccapurple;
}

.nav:hover {
    opacity: 1;
    transition: 0.4s;
}

.menu_item {
    display: flex;
    transition: 0.4s;
    flex-direction: column;
    justify-content: center;
    height: 24%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 24px;
}

.menu_item:hover {
    text-decoration: underline blueviolet;
    transition: 0.4s;
    background-color: honeydew;
}

.comments {
    opacity: 0.8;
    margin-top: 7vh;
    width: 15vw;
    height: 70vh;
    background-color: cornflowerblue;
}

.comments:hover {
    opacity: 1; 
}

#view {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    width: 50vw;
    height: 80vh;
    /* border: 2px solid red; */
    background-color: #fff;
    opacity: 0.8;
    border-radius: 20px;
    font-size: 100px;
    color: darkslateblue;
}
#view:hover {
    opacity: 1;
}

.start {
    width: 200px;
    height: 120px;
    background-color: darkslateblue;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    border-radius: 15px;
}

.start:hover {
    background-color: blueviolet;
}

.exit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: darkslateblue;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    top: 7px;
    right: 7px;
}

.fullscr {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: darkslateblue;
    border: none;
    border-radius: 7px;
    bottom: 7px;
    right: 7px;
}

.internal_circle {
    position: absolute;
    left: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: darkslateblue;
    border-radius: 100px;
    width: 6vh;
    height: 6vh;
    color: #fff;
    font-size: 30px;
}

.external_circle {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: blueviolet;
    border-radius: 100px;
    align-items: center;

}

.block_style {
    top: 0px;
    left: 3vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 14vh;
    height: 6vh;
    background-color: darkslateblue;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

    